DB_USER=user
DB_PASSWORD=password
DB_NAME=app_db
DB_HOSTNAME=db # service name in docker-compose
DB_PORT=5432

BACKEND_PORT=8000
JWT_SECRET=changeme

FRONTEND_PORT=3000

APP_ENV=false # are we in production?